﻿@model Modelos.TipoPagamento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TipoPagamento</legend>

    <div class="display-label">Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">limite</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.limite)
    </div>

    <div class="display-label">TipoContaDoPagamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoContaDoPagamento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
