﻿@model Modelos.TipoPagamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TipoPagamento</legend>

    <div class="display-label">Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">limite</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.limite)
    </div>

    <div class="display-label">TipoContaDoPagamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoContaDoPagamento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
