﻿@model Modelos.TipoPagamento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TipoPagamento</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.limite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.limite)
            @Html.ValidationMessageFor(model => model.limite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoContaDoPagamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoContaDoPagamento)
            @Html.ValidationMessageFor(model => model.TipoContaDoPagamento)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
