﻿@model IEnumerable<Modelos.TipoPagamento>

<!DOCTYPE html>
<html lang="en" dir="ltr">
@{
    ViewBag.Title = "Tipo de Pagamento";
}

<link href="@Url.Content("~/content/styles/layout.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<h2>Tipo de Pagamento</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table table-condensed" >
    <tr>
        <th>
            Descricao
        </th>
        <th>
            limite
        </th>
        <th>
            TipoContaDoPagamento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.limite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoContaDoPagamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
