﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Simples Despesas</title>
  <link href="@Url.Content("../../content/styles/layout.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("../../content/styles/mediaqueries.css")" rel="stylesheet" type="text/css" /> 
  <script src="@Url.Content("~/scripts/jquery-mobilemenu.min.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
 
<!-- content -->
<div class="wrapper row2">
  <div id="container">
    <!-- ################################################################################################ -->
    <!-- main content -->
    <div id="homepage">
      <!-- Introduction -->
      <section id="intro">
        <article class="one_half">
          <h1 class="shout">Uma forma simples para controlar gastos</h1>
          <a href="#"><img src="../../content/images/rings.png" alt=""></a></article>
        <article class="one_half last">
          <h1>O Que a ferramenta pode fazer!</h1>
          <p>O Simples despesas é uma ferramenta que vai auxiliar você no controle efetivo de gastos, organizando e categorizando suas despesdas, para gerar analises precisas, que fara a diferenca no seu dia dia</a>.</p>
          <ul>
            <li>Relatorio de previsto e realizado por tipo de conta.</li>
            <li>Analise grafica de espesdas por tipo de Conta.</li>
            <li>Relatorio analitico de despesas por tipo de pagamento(Extrato).</li>
            <li>Analise grafica de compras parceladas por periodo.</li>
            <li>Evolução de despesas mes a mes.</li>
          </ul>
          <p>Você ainda pode controlar suas receitas, tendo sempre de forma rápida o seu saldo, sabendo exatamente qual a sua disponibilidade financeira, para compras no momento ou no futuro. Fazendo o acompanhando das faturas dos seus cartões conferindo com o seu controle pessoal para evitar surpresas no fim do mês, identificando assim para onde esta indo seu dinheiro</a>.</p>
        </article>
        <div class="clear"></div>
      </section>
     </div>
  </div>
</div>
</html>