﻿@model Modelos.PlanoDeConta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PlanoDeConta</legend>

    <div class="display-label">Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Meta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meta)
    </div>
    
    <div class="display-label">
         Tipo de Conta
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nomeTipoPlano)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
