.formPlanos fieldset
{
    margin: 0 0 0% 2%;
    padding: 1% 0 1% 1%;
	border: none;
}

.planos
{
	text-align: center;
	float: left;
	width: 18%;
	border: 1px solid silver;
	margin: 0 0 0 1%;
}

.planos p
{
	margin: 15px 0 0 0;
	padding: 0;
}

.categoria
{
	text-align: center;
}

.categoria h3
{
	margin: 0;
}

.categoria span
{
	display: block;
	text-align: right;
	padding-right: 3px;
	padding-bottom: 15px;
}

.botao
{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.formulario fieldset
{
    margin-top: 20px;
    padding: 15px 60px 15px 60px;
}

.formulario h3
{
    margin-top: 40px;
}

label
{
    margin-left: 12px;    
}

.field-validation-error
{
    margin-left: 12px;    
}