﻿@model Modelos.PlanoDeConta


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PlanoDeConta</legend>

    <div class="display-label">Descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Meta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Meta)
    </div>
    <div class="display-label">
         Tipo de Conta
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nomeTipoPlano)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
