/*
Responsive Template Name: RS-5 Clean
File: IE 7 + 8 CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter, .one_fifth, .two_fifth, .three_fifth, .four_fifth{margin:0 0 0 3.24%; *display:inline;}
.first{margin-left:0;}