﻿@model Modelos.Movimento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Movimento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data_Evento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data_Evento)
            @Html.ValidationMessageFor(model => model.Data_Evento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vencimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vencimento)
            @Html.ValidationMessageFor(model => model.Vencimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor)
            @Html.ValidationMessageFor(model => model.Valor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Historico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Historico)
            @Html.ValidationMessageFor(model => model.Historico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pago)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pago)
            @Html.ValidationMessageFor(model => model.Pago)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroParcelas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroParcelas)
            @Html.ValidationMessageFor(model => model.NumeroParcelas)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
