body
{
    padding-top: 0px;
    padding-bottom: 40px; 
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

 
legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Estilo para componentes de login
-----------------------------------------------------------*/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 100px auto 100px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
    margin-bottom: 10px;
    }
    .form-signin input[type="text"],
    .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding-top: 10px;
    color: White;
}

#Menudisplay
{
    font-size: 1.1em;
    display: block;
    text-align: left;
    padding-top: 10px;
    color: White;
}


#logindisplay a:link
{
    color: white;
    text-decoration: none;
}

#logindisplay a:visited
{
    color: White;
    text-decoration: none;
}

#logindisplay a:hover
{
    /*color: #FF9900;*/
    color:#FFA500;
    text-decoration: none;
}

/* Estilo para tela de gera??o arquivos de SEF II
-----------------------------------------------------------*/

.blococonteudo
{
    height: 280px;
}

.blococonteudo p
{
    padding-top: 10px;
}

.blococonteudo .btn
{
    margin-left: 30px;
}