﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Simples Despesas</title>
  <link href="@Url.Content("~/content/styles/layout.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/content/styles/mediaqueries.css")" rel="stylesheet" type="text/css" /> 
  <script src="@Url.Content("~/scripts/jquery-mobilemenu.min.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
 
<script>
    $(document).ready(function () {
        $('.topnav').mobileMenu({
            combine: false,
            switchWidth: 600,
            prependTo: 'nav#topnav'
        });
    });
</script>
</head>
<body>

<div class="wrapper row1">
  <header id="header">
    <hgroup>
      <h1><a href=#><span>S</span>imples <span>D</span>espesas</a></h1>
      <h2>Controle Pessoal de Gastos</h2>
    </hgroup>
    <!-- ################################################################################################ -->
    <nav id="topnav">
      <ul class="topnav clear">
       
       @if (!Request.IsAuthenticated)
       { 
         <li> @Html.ActionLink("Entrar", "LogOn", "Account")</li>
         <li> @Html.ActionLink("Cadastre-se", "Register", "Account")</li>
       }
       
       @if (Request.IsAuthenticated)
       {     
        <li>@Html.ActionLink("Home", "Dashboard", "Home")</li>
        <li>@Html.ActionLink("Plano de Contas", "Index", "PlanoDeConta")</li>
        <li>@Html.ActionLink("Tipos de Pagamentos", "Index", "TipoPagamento")</li>
        <li>@Html.ActionLink("Lançar Despesas", "Index", "Movimento")</li>
        <li>@Html.ActionLink("Sair", "LogOff", "Account")</li>           
       } 
      </ul>
    </nav>
    <div class="clear"></div>
  </header>
</div>

    <div class="container">
        @RenderBody()

        <hr />
        <footer>
            <p>
                © Desenvolvido por <a href="#" title="Site" target="_blank">Bruno Borges.</a></p>
            <p>
            <small>Versão Beta</small>
        </footer>
    </div>

    @RenderSection("javascriptFimHtml", required: false)
</body>
</html>
