﻿@model Modelos.Movimento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Movimento</legend>

    <div class="display-label">Data</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data)
    </div>

    <div class="display-label">Data_Evento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_Evento)
    </div>

    <div class="display-label">Vencimento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vencimento)
    </div>

    <div class="display-label">Valor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">Historico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Historico)
    </div>

    <div class="display-label">Pago</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pago)
    </div>

    <div class="display-label">NumeroParcelas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroParcelas)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
