﻿@model IEnumerable<Modelos.Movimento>

<!DOCTYPE html>
<html lang="en" dir="ltr">
@{
    ViewBag.Title = "Lancamentos";
}

<link href="@Url.Content("~/content/styles/layout.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<h2>Lançamentos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>

<table class="table table-condensed" >
    <tr>
        <th>
            Data
        </th>
        <th>
            Data_Evento
        </th>
        <th>
            Vencimento
        </th>
        <th>
            Valor
        </th>
        <th>
            Historico
        </th>
        <th>
            Pago
        </th>
        <th>
            NumeroParcelas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vencimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Historico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroParcelas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
